

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Base 64 Decryption Page</title>
    <link rel="stylesheet" href="/encryptor.css">
</head>

<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Encryptor Tools</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about_us" class="nav-link active">ABOUT US</a>
                    </li>
                    <li class="dropdown">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button">ALGORIHTM<span class="caret"></span> 
                          <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-content">
                            <a href="/base32">BASE 32</a>
                            <a href="/base64">BASE 64</a>
                            <a href="/offset">Caesar Cipher</a>
                            <a href="/shared-key">Shared Key</a>
                            <a href="/public-key">RSA</a>   
                        </div>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>




    
    <div class="container" style="margin-bottom: 17.3%; margin-top: 5%;">
        <!-- Jumbotron -->
        <h1>BASE 64</h1>
        <p>Base64 mengeset 64-karakter yang terdiri dari huruf A sampai Z dan angka 2 hingga 7. Base64 tidak hanya digunakan untuk menyandikan data biner,</p>
        <p>tetapi Base64 juga dapat menyandikan teks biner seperti ASCII</p>
        
        <a href="/base64/encrypt" class="btn btn-warning">Enkripsi</a>
        <a href="/base64/decrypt" class="btn btn-danger">Deskripsi</a>

        <!-- Tables -->
            <div class="row tall-row-first">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Decrypted Message</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea">{{ decrypted_message }}</textarea>  
                                <span class="help-block"></span>                  
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Original Encrypt Message</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea">{{ message }}</textarea>  
                                <span class="help-block"></span>                  
                            </div>
                        </div>                    
                    </div>                                         
                </div>
            </div>
        </div>
    </div>





        
    <div class="footer-parent">
        <div class="footer">
            <div class="row tall-row">
                <div class="col-md-12">
                    <p>Created by <a href="https://github.com/satriobintang" target="_blank">Alt5chm3rz</a>. &copy; 2022</p>
                </div>
            </div>
        </div>
    </div>
 




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Github stars script -->
    <script>
    $(document).ready(function(){
        $.getJSON("https://api.github.com/repos/Bachittarjeet/Hacker-Bootstrap-Template/", function(data){
            var stars = data['stargazers_count'];
            $("#stars").text(stars + " stars");
        });
    });
    </script>
</body>
</html>
