{% extends "layout.html" %}

{% block judul %} Base 32 {% endblock %}

{% block body %} 
    <div class="container" style="margin-bottom: 30.7%; margin-top: 5%;">
        <!-- Jumbotron -->
        <h1>BASE 32</h1>
        <p>Base32 mengeset 32-karakter yang terdiri dari huruf A sampai Z dan angka 2 hingga 7. Base32 tidak hanya digunakan untuk menyandikan data biner,</p>
        <p>tetapi Base32 juga dapat menyandikan teks biner seperti ASCII</p>

        <a href="/base32/encrypt" class="btn btn-warning">Enkripsi</a>
        <a href="/base32/decrypt" class="btn btn-danger">Deskripsi</a>
    </div>
{% endblock %}