<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Encryptor Tools Page</title>
    <link rel="stylesheet" href="/encryptor.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Encryptor Tools</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about_us" class="nav-link active">ABOUT US</a>
                    </li>
                    <li class="dropdown">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button">ALGORIHTM<span class="caret"></span> 
                          <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-content">
                            <a href="/base32">BASE 32</a>
                            <a href="/base64">BASE 64</a>
                            <a href="/offset">Caesar Cipher</a>
                            <a href="/shared-key">Shared Key</a>
                            <a href="/public-key">RSA</a> 
                        </div>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>About This Tool</h1>
            <p>Something security doesn't come by itself, when you want privacy security then use this tool for free</p>

            <p>To hack around with the source or contribute, check out the project on Github</p>
            <p>
                <a class="btn btn-lg btn-primary" href="https://github.com/satriobintang" target="_blank" ole="button">View on Github »</a>
            </p>
        </div>

        <!-- Tables -->
        <div class="row tall-row-first">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close">×</button>
                        <h4>Warning!</h4>
                        <p>It is important for us to know that cyber threats will always exist at all times! Below are some examples of cases of cyber attacks in the world and the types of attacks that are often used!</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12">
                <h3>List of Attacks in the World</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr class="info">
                            <th>#</th>
                            <th>Location</th>
                            <th>Victim</th>
                            <th>Incident Type</th>
                            <th>Malware</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="info">
                            <td>1</td>
                            <td>UK</td>
                            <td>Clarksons PLS</td>
                            <td>Unidentihed
                                Hacker(s)</td>
                            <td>Unknown</td>
                        </tr>
                        <tr class="info">
                            <td>2</td>
                            <td>130 countries</td>
                            <td>Maesk</td>
                            <td>Ransomware</td>
                            <td>NotPetya</td>
                        </tr>
                        <tr class="info">
                            <td>3</td>
                            <td>Spain</td>
                            <td>Port of Barcelona</td>
                            <td>Unidentified Cyber Attack</td>
                            <td>Unknown</td>
                        </tr>
                        <tr class="info">
                            <td>4</td>
                            <td>USA</td>
                            <td>Port of San Diego</td>
                            <td>Ransomware</td>
                            <td>SamSam</td>
                        </tr>
                        <tr class="info">
                            <td>5</td>
                            <td>Iran</td>
                            <td>Shahid Rajaee Port Terminal</td>
                            <td>Unidentihed
                                Hacker(s)</td>
                            <td>Unknown</td>
                        </tr>
                        <tr class="info">
                            <td>6</td>
                            <td>Louisiana</td>
                            <td>US Tugboat</td>
                            <td>Phising Email</td>
                            <td>Unknown</td>
                        </tr>
                        <tr class="info">
                            <td>7</td>
                            <td>Asia Pasific</td>
                            <td>CMA CGM SA</td>
                            <td>Phising Email</td>
                            <td>Unknown</td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>

        <div class="row tall-row">
            <div class="col-lg-12">
                <h3>The Most Common Types of Cyber Crime</h3> 
                <div class="progress">
                    <div class="progress-bar" style="width: 10%"></div>  24.276
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" style="width: 13%"></div>  28.218
                </div>
                <div class="progress"> 
                    <div class="progress-bar progress-bar-success" style="width: 20%"></div>  43.330
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width: 25%"></div>  45.330
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 80%"></div>  241.342
                </div>
                <a href="https://en.wikipedia.org/wiki/Misrepresentation" class="btn btn-primary" target="_blank">Misrepresentation </a>
                <a href="https://en.wikipedia.org/wiki/Spoofing_attack" class="btn btn-info" target="_blank">Spoofing</a>
                <a href="https://en.wikipedia.org/wiki/Identity_theft" class="btn btn-success" target="_blank">Identity Theft</a>
                <a href="https://en.wikipedia.org/wiki/Data_breach" class="btn btn-warning" target="_blank">Personal Data breanch</a>
                <a href="https://en.wikipedia.org/wiki/Phishing" class="btn btn-danger" target="_blank">Phishing</a>
            </div>      
        </div>

        <div class="row tall-row-second">
            <div class="row">
                <div class="col-md-6" style="float: left;">
                    <div class="well">
                        <form class="form-horizontal">
                            <fieldset>
                                <h4>Contact Us</h4>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="inputEmail" placeholder="Email" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="inputPassword" placeholder="Password" type="password">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Checkbox
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textArea" class="col-lg-2 control-label">Message</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" id="textArea"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="reset" class="btn btn-default">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="col-md-6" style="float: right;">
                    <div class="well">
                        <h4>About Us</h4>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="home">
                                <p>We are a collection of students who are passionate about cyber security. 
                                    We are currently studying at Amikom University Yogyakarta, Indonesia. This project was created for our serious 
                                    attention regarding the number of wiretapping and data leaks that are very detrimental to many parties. Our 
                                    concept of making this web page like being in the world of cyberpunk is because we hope that apart from making 
                                    it easier for users, another hope is that it can attract the younger generation to be more aware of the security 
                                    of personal data. We hope that this project can provide information regarding real cyber threats to all people 
                                    and this tool can be used to protect the important data that you have.<a href="https://github.com/satriobintang" target="_blank">-Alt5chm3rz</a></p>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <p>We are currently studying at Amikom University Yogyakarta, Indonesia.</p>
                            </div>
                            <div class="tab-pane fade" id="dropdown1">
                                <p>This project was created for our serious attention regarding the number of wiretapping and data leaks that are very detrimental to many parties. Our concept of making this web page like being in the world of cyberpunk is because we hope that apart from making it easier for users, another hope is that it can attract the younger generation to be more aware of the security of personal data.</p>
                            </div>
                            <div class="tab-pane fade" id="dropdown2">
                                <p>We hope that this project can provide information regarding real cyber threats to all people and this tool can be used to protect the important data that you have.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <div class="row tall-row">
                <div class="col-md-12">
                    <p>Created by <a href="https://github.com/satriobintang" target="_blank">Alt5chm3rz</a>. &copy; 2022</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>
