{% extends "layout.html" %}

{% block judul %} Caesar Cipher {% endblock %}

{% block body %}      
    <div class="container" style="margin-bottom: 30.7%; margin-top: 5%;">
        <!-- Jumbotron -->
        <h1>CAESAR CHIPER</h1>
        <p>Caesar Chiper adalah teknik kriptografi yang dilakukan dengan mensubtitusi setiap abjad dari pesan yang akan dienkripsi melalui pergeseran</p>
        <p>susunan sebagai kuncinya.</p>

        <a href="/offset/encrypt" class="btn btn-warning">Enkripsi</a>
        <a href="/offset/decrypt" class="btn btn-danger">Deskripsi</a>
    </div>        
{% endblock %}