{% extends "layout.html" %}

{% block judul %} Shared Key Decryption {% endblock %}

{% block body %}   
    <div class="container" style="margin-bottom: 17.3%; margin-top: 5%;">
        <!-- Jumbotron -->
        <h1>PRE SHARED KEY</h1>
        <p>Pre Shared Key adalah algoritma yang kuncinya dibagikan antara kedua pihak menggunakan beberapa saluran aman.</p>
        <p>Kunci Pre Shared Key digunakan untuk melakukan enkripsi dan mendeskripsi pesan.</p>

        <a href="/shared-key/encrypt" class="btn btn-warning">Enkripsi</a>
        <a href="/shared-key/decrypt" class="btn btn-danger">Deskripsi</a>
        <!-- Tables -->
            <div class="row tall-row-first">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Decrypted Message</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea">{{ decrypted_message }}</textarea>  
                                <span class="help-block"></span>                  
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Original Message</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea">{{ message }}</textarea>  
                                <span class="help-block"></span>                  
                            </div>
                        </div>                    
                    </div>                                         
                </div>
            </div>
        </div>
    </div>    
{% endblock %}