{% extends "layout.html" %}

{% block judul %} Shared Key {% endblock %}

{% block body %}   
    <div class="container" style="margin-bottom: 30.7%; margin-top: 5%;">
        <!-- Jumbotron -->
        <h1>PRE SHARED KEY</h1>
        <p>Pre Shared Key adalah algoritma yang kuncinya dibagikan antara kedua pihak menggunakan beberapa saluran aman.</p>
        <p>Kunci Pre Shared Key digunakan untuk melakukan enkripsi dan mendeskripsi pesan.</p>

        <a href="/shared-key/encrypt" class="btn btn-warning">Enkripsi</a>
        <a href="/shared-key/decrypt" class="btn btn-danger">Deskripsi</a>
    </div>
        
    <div class="footer-parent">
        <div class="footer">
            <div class="row tall-row">
                <div class="col-md-12">
                    <p>Created by <a href="https://github.com/satriobintang" target="_blank">Alt5chm3rz</a>. &copy; 2022</p>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}